.c1 { color: #808080; } /* Comment.Single */
.cm { color: #808080; } /* Comment.Multiline */
.cp { color: #0000ff; } /* Comment.Preproc */
.k { color: #0000ff; } /* Keyword */
.kt { color: #0000ff; } /* Keyword.Type */
.m { color: #000; } /* Literal.Number */
.n { color: #000; }
.na { color: #2b91af; } /* Name.Attribute */
.nf { color: #2b91af; } /* Name.Function */
.nn { color: #000; } /* Name.Namespace */
.p { color: #000; }
.s { color: #a31515; } /* Literal.String */
.sc { color: #a31515; } /* Literal.String.Char */