<div class="header-links">
	<div class="link-container-left menu" -data-menu="documentation-menu">
		<a href="{{ page.root }}documentation/{{ page.latestdocumentationversion }}/quick_start.html">Documentation</a>
		<div class="menu-drop-down documentation-menu visuallyhidden">
			<a href="{{ page.root }}documentation/1.0/quick_start.html">Version 1.0</a>
		</div>
	</div>
	<div class="link-container-left menu" -data-menu="resources-menu">
		<span class="dummy">Resources</span>
		<div class="menu-drop-down resources-menu visuallyhidden">
			<a href="https://github.com/NathanAlden/JuniorRoute" target="_blank">Respository</a><br/>
			<a href="https://github.com/NathanAlden/JuniorRoute/wiki" target="_blank">Wiki</a>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="link-container-right menu" -data-menu="other-projects-menu">
		<a href="https://github.com/NathanAlden" target="_blank">Other Projects by Nathan Alden, Sr.</a>
		<div class="menu-drop-down other-projects-menu visuallyhidden">
			<a href="https://github.com/NathanAlden/JuniorPersist">JuniorPersist</a></br>
			<a href="https://github.com/NathanAlden/JuniorMap">JuniorMap</a></br>
			<a href="https://github.com/NathanAlden/FirefoxAutoRefresh">Firefox Auto Refresh</a></br>
			<a href="https://github.com/NathanAlden" class="and-more">...and more!</a>
		</div>
	</div>
</div>