<div class="header-links">
	<div class="link-container-left quick-start">
		<a href="{{ page.root }}quick_start.html">Quick-start</a>
	</div>
	<div class="link-container-left menu" data-menu="resources-menu">
		<span class="dummy">Resources</span>
		<div class="menu-drop-down resources-menu visuallyhidden">
			<a href="{{ page.root }}documentation/routes.html">Documentation</a>
			<a href="{{ page.root }}tutorials/starting_from_scratch.html">Tutorials</a>
			<hr/>
			<a href="https://github.com/NathanAlden/JuniorRoute" target="_blank">Respository</a>
			<a href="https://github.com/NathanAlden/JuniorRoute/wiki" target="_blank">Wiki</a>
			<a href="http://visualstudiogallery.msdn.microsoft.com/41f5e30a-d988-49a1-b86b-baa118fd832a" target="_blank">Visual Studio Project Templates</a>
		</div>
	</div>
	<div class="link-container-left menu"data-menu="social-menu">
		<span class="dummy">Social</span>
		<div class="menu-drop-down social-menu visuallyhidden">
			<a href="https://twitter.com/CognizantCoder" target="_blank">Follow JuniorRoute on Twitter</a>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="link-container-right menu" data-menu="other-projects-menu">
		<a href="https://github.com/NathanAlden" target="_blank">Other Projects by Nathan Alden, Sr.</a>
		<div class="menu-drop-down other-projects-menu visuallyhidden">
			<a href="https://github.com/NathanAlden/JuniorPersist">JuniorPersist</a>
			<a href="https://github.com/NathanAlden/JuniorMap">JuniorMap</a>
			<a href="https://github.com/NathanAlden/FirefoxAutoRefresh">Firefox Auto Refresh</a>
			<a href="https://github.com/NathanAlden" class="and-more">...and more!</a>
		</div>
	</div>
</div>