---
layout: default
---
<div class="documentation">
	<div class="navigation">
		<a href="{{ page.root }}index.html">Features and Benefits</a><br/>
		<a href="{{ page.root }}understanding_http_1.1.html">Understanding HTTP 1.1</a><br/>
		<a href="{{ page.root }}documentation/1.x/version_history.html">Version history</a>
		<div class="section">
			<div class="documentation-version">Version 1.x Documentation</div>
		</div>
		<div class="section">Core concepts</div>
		<div class="section-links">
			<a href="{{ page.root }}documentation/1.x/routes.html">Routes</a><br/>
			<a href="{{ page.root }}documentation/1.x/route_collections.html">Route collections</a><br/>
			<a href="{{ page.root }}documentation/1.x/restrictions.html">Restrictions</a><br/>
			<a href="{{ page.root }}documentation/1.x/responses.html">Responses</a><br/>
			<a href="{{ page.root }}documentation/1.x/caching.html">Caching</a><br/>
			<a href="{{ page.root }}documentation/1.x/authentication_providers.html">Authentication providers</a><br/>
			<a href="{{ page.root }}documentation/1.x/request_value_comparers.html">Request value comparers</a><br/>
			<a href="{{ page.root }}documentation/1.x/url_resolvers.html">URL resolvers</a>
		</div>
		<div class="section">Asset management</div>
		<div class="section-links">
			<a href="{{ page.root }}documentation/1.x/assets.html">Assets</a><br/>
			<a href="{{ page.root }}documentation/1.x/bundles.html">Bundles</a><br/>
			<a href="{{ page.root }}documentation/1.x/asset_concatenators.html">Asset concatenators</a><br/>
			<a href="{{ page.root }}documentation/1.x/asset_transformers.html">Asset transformers</a><br/>
			<a href="{{ page.root }}documentation/1.x/bundle_watchers.html">Bundle watchers</a><br/>
			<a href="{{ page.root }}documentation/1.x/bundle_watcher_routes.html">Bundle watcher routes</a>
		</div>
		<div class="section">
			<a href="{{ page.root }}documentation/1.x/diagnostics.html">Diagnostics</a>
			<div class="section-links">
				<a href="{{ page.root }}documentation/1.x/diagnosticroutehelper.html">DiagnosticRouteHelper</a><br/>
				<a href="{{ page.root }}documentation/1.x/diagnostic_configurations.html">Diagnostic configurations</a>
			</div>
		</div>
		<div class="section">ASP.net integration</div>
		<div class="section-links">
			<a href="{{ page.root }}documentation/1.x/juniorrouteapplication.html">JuniorRouteApplication</a><br/>
			<a href="{{ page.root }}documentation/1.x/juniorrouteapplicationconfiguration.html">JuniorRouteApplicationConfiguration</a><br/>
			<a href="{{ page.root }}documentation/1.x/aspnethttphandler.html">AspNetHttpHandler</a><br/>
			<a href="{{ page.root }}documentation/1.x/response_generators.html">Response generators</a><br/>
			<a href="{{ page.root }}documentation/1.x/response_handlers.html">Response handlers</a><br/>
			<a href="{{ page.root }}documentation/1.x/file_systems.html">FileSystem</a><br/>
			<a href="{{ page.root }}documentation/1.x/url_resolvers.html">UrlResolver</a>
		</div>
		<div class="section">
			<a href="{{ page.root }}documentation/1.x/auto_routing.html">Auto-routing</a>
			<div class="section-links">
				<a href="{{ page.root }}documentation/1.x/autoroutecollection.html">AutoRouteCollection</a><br/>
				<a href="{{ page.root }}documentation/1.x/containers.html">Containers</a><br/>
				<a href="{{ page.root }}documentation/1.x/class_filters.html">Class filters</a><br/>
				<a href="{{ page.root }}documentation/1.x/method_filters.html">Method filters</a><br/>
				<a href="{{ page.root }}documentation/1.x/name_mappers.html">Name mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/id_mappers.html">ID mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/resolved_relative_url_mappers.html">Resolved relative URL mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/restriction_mappers.html">Restriction mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/parameter_mappers.html">Parameter mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/model_property_mappers.html">Model property mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/response_mappers.html">Response mappers</a><br/>
				<a href="{{ page.root }}documentation/1.x/authentication_strategies.html">Authentication strategies</a><br/>
				<a href="{{ page.root }}documentation/1.x/forms_authentication.html">Forms authentication</a><br/>
				<a href="{{ page.root }}documentation/1.x/request_contexts.html">Request contexts</a>
			</div>
		</div>
	</div>
	<div class="document">
		{% if page.documentationversions %}
		<div class="version">
			Version:
			{% for documentationversion in page.documentationversions %}
				{% if forloop.index0 == 0 %}
				<a href="#">{{ documentationversion }}</a>
				{% else %}
				<a href="#" data-version="{{ documentationversion }}">{{ documentationversion }}</a>
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div class="content">
		{{ content }}
		</div>
	</div>
</div>