---
layout: default
---
<div class="documentation">
	<div class="navigation">
		<div class="tutorial-version">Version 1.x Tutorials</div>
		<div class="section">
			<a href="{{ page.root }}tutorials/1.x/starting_from_scratch.html">Starting from scratch</a><br/>
			<a href="{{ page.root }}tutorials/1.x/creating_css_and_javascript_bundles.html">Creating CSS and JavaScript Bundles</a>
		</div>
	</div>
	<div class="document">
		<div class="content">
			{{ content }}
		</div>
	</div>
</div>